<nav class="navbar navbar-expand-xl navbar-dark bg-dark d-none d-xl-block">
	<div class="container">
		<a href="index.html" class="navbar-brand me-md-5">
			<img src="@img/logo-short.svg" />
		</a>

		<div class="collapse navbar-collapse position-relative">
			<ul class="navbar-nav w-100">
				<li class="nav-item">
					<a
						href="#"
						class="nav-link link-icon catalogue-dropdown @@if (context.page === 'catalogue') {active} @@if (context.page === 'catalogue-item') {active}"
					>
						<svg class="icon me-2">
							<use href="@img/sprite.symbol.svg#apps"></use>
						</svg>

						<span>Каталог</span>
					</a>
				</li>

				<li class="nav-item dropdown dropdown-hover">
					<a
						class="nav-link dropdown-toggle @@if (context.page === 'startpoint') {active} @@if (context.page === 'content') {active} @@if (context.page === 'portfolio') {active} @@if (context.page === 'dealers') {active} @@if (context.page === 'news') {active} @@if (context.page === 'docs') {active} @@if (context.page === 'faq') {active}"
						href="startpoint.html"
						role="button"
						aria-expanded="false"
					>
						<span>Компания</span>

						<svg class="icon ms-2">
							<use href="@img/sprite.symbol.svg#angle-small-down"></use>
						</svg>
					</a>

					<ul class="dropdown-menu">
						<li><a class="dropdown-item @@if (context.page === 'content') {active}" href="content.html">О нас</a></li>
						<li><a class="dropdown-item @@if (context.page === 'portfolio') {active}" href="portfolio.html">Завершённые объекты</a></li>
						<li><a class="dropdown-item @@if (context.page === 'dealers') {active}" href="dealers.html">Официальные дилеры</a></li>
						<li><a class="dropdown-item @@if (context.page === 'news') {active}" href="news.html">Новости компании</a></li>
						<li><a class="dropdown-item @@if (context.page === 'docs') {active}" href="docs.html">Документация</a></li>
						<li><a class="dropdown-item @@if (context.page === 'faq') {active}" href="faq.html">Частые вопросы</a></li>
					</ul>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="content.html">Дилерам</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="content.html">Строителям</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="content.html">Поставщикам</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="content.html">Наши заводы</a>
				</li>

				<li class="nav-item">
					<a class="nav-link @@if (context.page === 'vacancies') {active}" href="vacancies.html">Работа в компании</a>
				</li>

				<li class="nav-item">
					<a class="nav-link @@if (context.page === 'contacts') {active}" href="contacts.html">Контакты</a>
				</li>
			</ul>
		</div>

		<div class="search-box search-dark">
			<form role="search" class="search-form">
				<input type="search" class="form-control" placeholder="Найти..." />

				<button type="submit" class="btn btn-icon search-submit">
					<svg class="icon">
						<use href="@img/sprite.symbol.svg#search"></use>
					</svg>
				</button>
			</form>
		</div>

		<a href="" class="link-icon spaced-link link-white d-none d-lg-inline-flex search-toggle">
			<svg class="icon m-0 st-show">
				<use href="@img/sprite.symbol.svg#search"></use>
			</svg>

			<svg class="icon m-0 st-hide">
				<use href="@img/sprite.symbol.svg#cross"></use>
			</svg>
		</a>
	</div>
</nav>
