<div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="Offcanvas" aria-labelledby="OffcanvasLabel">
	<div class="offcanvas-header">
		<a href="index.html"><img src="@img/logo.svg" alt="" class="offcanvas-logo" /></a>
		<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>

	<div class="offcanvas-body">
		<div class="search-dark mb-3">
			<form role="search" class="search-form">
				<input type="search" class="form-control" placeholder="Найти..." />

				<button type="submit" class="btn btn-icon search-submit">
					<svg class="icon">
						<use href="@img/sprite.symbol.svg#search"></use>
					</svg>
				</button>
			</form>
		</div>

		<nav class="sidebar">
			<ul class="nav">
				<!-- prettier-ignore -->
				@@if (context.lk === true) {@@include('offcanvas-profile-dropdown.html', {})}
				@@if (context.lk !== true) {@@include('offcanvas-login-link.html', {})}

				<li class="nav-item has-submenu">
					<a class="nav-link link-icon @@if (context.page === 'catalogue') {active}" href="#">
						<svg class="icon me-2">
							<use href="@img/sprite.symbol.svg#apps"></use>
						</svg>

						<span>Каталог</span>

						<svg class="icon ms-auto">
							<use href="@img/sprite.symbol.svg#angle-small-down"></use>
						</svg>
					</a>

					<ul class="submenu collapse @@if (context.page === 'catalogue') {show} @@if (context.page === 'catalogue-item') {show}">
						<li>
							<a class="nav-link fw-bold" href="catalogue.html#catalogueSection1">Окна ПВХ</a>

							<ul>
								<li><a class="nav-link @@if (context.page === 'catalogue-item') {active}" href="catalogue-item.html">ELEX 58</a></li>
								<li><a class="nav-link" href="catalogue-item.html">ELEX 70</a></li>
							</ul>
						</li>

						<li>
							<a class="nav-link fw-bold" href="catalogue.html#catalogueSection2">Алюминиевые окна</a>

							<ul>
								<li><a class="nav-link" href="catalogue-item.html">ALT C48</a></li>
								<li><a class="nav-link" href="catalogue-item.html">ALT W62</a></li>
								<li><a class="nav-link" href="catalogue-item.html">ALT W72</a></li>
							</ul>
						</li>

						<li>
							<a class="nav-link fw-bold" href="catalogue.html#catalogueSection3">Нестандартные решения</a>

							<ul>
								<li><a class="nav-link" href="catalogue-item.html">Ламинированные окна</a></li>
								<li><a class="nav-link" href="catalogue-item.html">Нестандартные формы</a></li>
								<li><a class="nav-link" href="catalogue-item.html">Цветные и нестандартные ручки</a></li>
							</ul>
						</li>

						<li>
							<a class="nav-link fw-bold" href="catalogue.html#catalogueSection4">Входные группы <span>(ПВХ и алюминий)</span></a>

							<ul>
								<li><a class="nav-link" href="catalogue-item.html">Входные группы ELEX 58/70</a></li>
								<li><a class="nav-link" href="catalogue-item.html">Входные группы ALUTECH C48/W62/W72</a></li>
							</ul>
						</li>

						<li>
							<a class="nav-link fw-bold" href="catalogue.html#catalogueSection5">Раздвижные, складные системы <span>(ПВХ и алюминий)</span></a>

							<ul>
								<li><a class="nav-link" href="catalogue-item.html">ALT 100/SL130/SL160</a></li>
								<li><a class="nav-link" href="catalogue-item.html">ALUMIL M900/S350/S560</a></li>
								<li><a class="nav-link" href="catalogue-item.html">ELEX 58/70</a></li>
							</ul>
						</li>

						<li>
							<a class="nav-link fw-bold" href="catalogue.html#catalogueSection6">Фасадные конструкции</a>

							<ul>
								<li><a class="nav-link" href="catalogue-item.html">ALUTECH F50</a></li>
							</ul>
						</li>

						<li>
							<a class="nav-link fw-bold" href="catalogue.html#catalogueSection7">Офисные перегородки</a>

							<ul>
								<li><a class="nav-link" href="catalogue-item.html">ALT 110/ALT 111</a></li>
							</ul>
						</li>
					</ul>
				</li>

				<li class="nav-item has-submenu">
					<a class="nav-link link-icon @@if (context.page === 'startpoint') {active}" href="#">
						<span>Компания</span>

						<svg class="icon ms-auto">
							<use href="@img/sprite.symbol.svg#angle-small-down"></use>
						</svg>
					</a>

					<ul
						class="submenu collapse @@if (context.page === 'content') {show} @@if (context.page === 'portfolio') {show} @@if (context.page === 'dealers') {show} @@if (context.page === 'news') {show} @@if (context.page === 'docs') {show} @@if (context.page === 'faq') {show}"
					>
						<li><a class="nav-link @@if (context.page === 'content') {active}" href="content.html">О нас</a></li>
						<li><a class="nav-link @@if (context.page === 'portfolio') {active}" href="portfolio.html">Завершённые объекты</a></li>
						<li><a class="nav-link @@if (context.page === 'dealers') {active}" href="dealers.html">Официальные дилеры</a></li>
						<li><a class="nav-link @@if (context.page === 'news') {active}" href="news.html">Новости компании</a></li>
						<li><a class="nav-link @@if (context.page === 'docs') {active}" href="docs.html">Документация</a></li>
						<li><a class="nav-link @@if (context.page === 'faq') {active}" href="faq.html">Частые вопросы</a></li>
					</ul>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="content.html">Дилерам</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="content.html">Строителям</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="content.html">Поставщикам</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="content.html">Наши заводы</a>
				</li>

				<li class="nav-item">
					<a class="nav-link @@if (context.page === 'vacancies') {active}" href="vacancies.html">Работа в компании</a>
				</li>

				<li class="nav-item">
					<a class="nav-link @@if (context.page === 'contacts') {active}" href="contacts.html">Контакты</a>
				</li>
			</ul>
		</nav>

		<hr class="border-white border-opacity-25 mt-3 mb-4" />

		<div class="offcanvas-contact">
			<a href="tel:+78612100212" class="link-icon link-white">
				<svg class="icon me-2">
					<use href="img/sprite.symbol.svg#phone"></use>
				</svg>

				<span>+7 (861) 210-02-12</span>
			</a>
		</div>

		<div class="offcanvas-contact">
			<a href="tel:+78612330289" class="link-icon link-white">
				<svg class="icon me-2">
					<use href="img/sprite.symbol.svg#phone"></use>
				</svg>

				<span>+7 (861) 233-02-89</span>
			</a>
		</div>

		<div class="offcanvas-contact">
			<a data-bs-toggle="modal" href="#CallbackModal" class="link-icon link-white">
				<svg class="icon me-2">
					<use href="img/sprite.symbol.svg#call-bell"></use>
				</svg>

				<span>Заказать звонок</span>
			</a>
		</div>

		<div class="offcanvas-contact">
			<div class="row align-items-center gx-3">
				<div class="col-auto">
					<a href="" target="_blank" class="messenger-link spaced-link"><img src="@img/whatsapp-logo.svg" alt="" /></a>
				</div>

				<div class="col-auto">
					<a href="" target="_blank" class="messenger-link spaced-link"><img src="@img/telegram-logo.svg" alt="" /></a>
				</div>
			</div>
		</div>
	</div>
</div>
