<div class="topbar bg-dark">
	<div class="container">
		<div class="row align-items-center align-items-xl-end gx-xl-6">
			<div class="col-auto">
				<a href="index.html"><img src="@img/logo.svg" alt="" class="header-logo" /></a>
			</div>

			<div class="col-sm-auto header-contacts d-none d-sm-block">
				<div class="row align-items-center align-items-xl-end">
					<div class="col-auto">
						<div class="d-flex flex-column">
							<a href="tel:+78612100212" class="header-phone fw-medium link-white">+7 (861) 210-02-12</a>

							<a class="header-callback link-icon spaced-link d-none d-xl-inline-flex" data-bs-toggle="modal" href="#CallbackModal">
								<svg class="icon me-2">
									<use href="@img/sprite.symbol.svg#call-bell"></use>
								</svg>
								<span>Заказать звонок</span>
							</a>
						</div>
					</div>

					<div class="col-auto">
						<div class="row align-items-center gx-3">
							<div class="col-auto">
								<a href="" target="_blank" class="messenger-link spaced-link"><img src="@img/whatsapp-logo.svg" alt="" /></a>
							</div>

							<div class="col-auto">
								<a href="" target="_blank" class="messenger-link spaced-link"><img src="@img/telegram-logo.svg" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-auto ms-auto">
				<div class="row gx-3">
					<div class="col-auto">
						<!-- prettier-ignore -->
						@@if (context.lk === true) {@@include('lk-dropdown.html', {})}
						@@if (context.lk !== true) {@@include('login-link.html', {})}
					</div>

					<div class="col-auto d-xl-none">
						<button class="offcanvas-toggler btn btn-primary btn-icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#Offcanvas">
							<svg class="icon">
								<use href="@img/sprite.symbol.svg#menu-burger"></use>
							</svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
