// Swiper
@import '../../node_modules/swiper/swiper.scss';

// glightbox
@import '../../node_modules/glightbox/dist/css/glightbox.min.css';

.swiper-button-lock,
.swiper-pagination-lock {
	display: none;
}

.swiper-pagination-bullet {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	background-color: rgba(#000, 0.1);
	margin-right: 0.375rem;

	&-active {
		background-color: #008b29 !important;
	}

	&:hover {
		cursor: pointer;
	}
}

.bg-dark {
	.swiper-pagination-bullet {
		background-color: rgba(#fff, 0.1);
	}
}

.modal-open {
	overflow: hidden;
}
