@import "fonts";

@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
// @import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
// @import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
// @import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/progress";
// @import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
// @import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/popover";
// @import "../../node_modules/bootstrap/scss/carousel";
// @import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/offcanvas";
@import "../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";

// Swiper
@import "../../node_modules/swiper/swiper.scss";

//Fancybox
@import "../../node_modules/@fancyapps/ui/dist/fancybox.css";

// ХАК ДЛЯ ТОГО, ЧТОБ ОТКЛЮЧИТЬ :FOCUS ПО КЛИКУ, НО ПОКАЗЫВАТЬ ПРИ ТАБЕ С КЛАВИАТУРЫ

body:not(.user-is-tabbing) a:focus,
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
   outline: none !important;
   -webkit-appearance: none;
   box-shadow: none !important;
}

// КНОПКА ВВЕРХ

.scroll-to-top {
   bottom: 1rem;
   right: 1rem;
   width: 3.5rem;
   height: 3.5rem;
   z-index: 1;
   padding-top: 0.8rem;
   background-color: $primary;
   visibility: hidden;

   svg {
      path {
         fill: $white;
      }
   }

   &:hover {
      cursor: pointer;
      background-color: darken($primary, 10%);
   }
}

// ТИПОГРАФИКА И ШИРОКИЕ ЭЛЕМЕНТЫ ДЛЯ ТЕКСТОВЫХ СТРАНИЦ

.article {
   line-height: 1.7em;

   .fit-to-text {
      max-width: 700px;
   }

   h1 {
      margin-bottom: 1.5rem;
   }

   p,
   ul,
   ol {
      max-width: 700px;
      margin-bottom: 1.7em;
   }

   ul,
   ol {
      li {
         margin-bottom: 0.813rem;
      }

      ul,
      ol {
         margin-top: 0.813rem;
         margin-bottom: 0.5rem;
      }
   }

   table {
      @include font-size(1rem);
   }
}

ul {
   li {
      &::marker {
         color: $primary;
      }
   }
}

// МОБИЛЬНОЕ МЕНЮ

.offcanvas {
   &-logo {
      height: 32px;
   }
}

.vertical-nav {
   list-style: none;
   padding: 0;
   margin: 0;

   ul {
      list-style: none;
      padding: 0 0 0 .5rem;
   }

   &__item {
      a {
         display: inline-block;
         padding: .35rem 0;
         color: $white;

         &.active {
            color: $primary  !important;
         }
      }
   }

   &__dropdown {
      svg {
         path {
            fill: $white;
            transition: fill 0.15s ease-in-out;
         }
      }

      &.active {
         color: $primary;

         svg {
            path {
               fill: $primary;
            }
         }
      }
   }

   &__dropdown-menu {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.15s ease-in-out;

      a {
         color: $gray-500  !important;
      }
   }
}

.bg-img {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.dropdown-toggle {
   svg {
      path {
         fill: $white;
         transition: fill 0.15s ease-in-out;
      }
   }

   &:hover,
   &.show {
      svg {
         path {
            fill: $link-color;
         }
      }
   }
}

.navbar {
   .dropdown-menu {
      background-color: $dark;

      li {
         border-bottom: 1px solid rgba($white, .1);
         margin: 0 $spacer;

         &:last-of-type {
            border: none;
         }
      }

      .dropdown-item {
         color: $white;
         transition: color .15s ease-in-out;
         padding: .75rem 0;

         &:hover,
         .active {
            background-color: transparent;
            color: $link-color;
         }
      }
   }
}

.navbar-toggler {
   height: 48px;
   width: 48px;
   background-color: lighten($dark, 5%);

   svg {
      height: 16px;

      path {
         fill: $white
      }
   }
}

.dropdown-menu {
   animation-duration: 0.3s;
   animation-fill-mode: both;
   animation-name: Dropdown;
   box-shadow: $box-shadow;

   li {
      border-bottom: 1px solid $gray-200;
      margin: 0 $spacer;

      &:last-of-type {
         border: none;
      }
   }

}

a {
   transition: color 0.15s ease-in-out;
}

a[data-fancybox] {
   &:hover {
      cursor: zoom-in;
   }
}

.page-title {
   position: relative;
   padding-left: 2rem;

   &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1rem;
      background-color: $primary;
   }
}

.link-with-icon {
   display: flex;
   align-items: center;

   svg {
      path {
         fill: $link-color;
         transition: fill 0.15s ease-in-out;
      }
   }

   &:hover {
      svg {
         path {
            fill: shift-color($link-color, $link-shade-percentage);
         }
      }
   }

   &.link-white {
      svg {
         path {
            fill: $white;
         }
      }

      &:hover {
         svg {
            path {
               fill: $link-color;
            }
         }
      }
   }
}

.btn-primary {
   color: $white;

   &:hover {
      color: $white;
   }
}

.btn-dark {
   &:hover {
      background-color: $primary;
      border-color: $primary;
   }

   &:active {
      background-color: darken($primary, 10%) !important;
      border-color: darken($primary, 10%) !important;
      color: $white  !important;
   }
}

.btn-outline-light {
   &:hover {
      background-color: $primary;
      border-color: $primary;
      color: $white;
   }

   &:active {
      background-color: darken($primary, 10%) !important;
      border-color: darken($primary, 10%) !important;
      color: $white  !important;
   }
}

.link-white {
   &:hover {
      color: $link-color  !important;
   }
}

.link-dark {
   &:hover {
      color: $link-color  !important;
   }

   &.active {
      color: $link-color  !important;
   }
}

.fw-medium {
   font-weight: 500;
}

.footer-hr {
   border-color: $gray-600;
}

.breadcrumb-item {
   a {
      color: $dark;

      &:hover {
         color: $link-color;
      }
   }
}

//ЛОГОТИП СТУДИИ

.devlogo {
   img {
      width: 46px;
      height: 46px;
   }

   span {
      font-family: "BebasNeueRegular";
      font-size: 1.95rem;
      line-height: 1.1em;
   }

   a {
      font-family: "Arial";
      font-size: 11px;
      line-height: 1em;

      &:hover {
         color: $link-color  !important;
      }
   }
}

@keyframes Dropdown {
   0% {
      transform: translateY(1rem);
      opacity: 0;
   }

   100% {
      transform: translateY(0rem);
      opacity: 1;
   }

   0% {
      transform: translateY(1rem);
      opacity: 0;
   }
}

.search {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   width: 0%;

   &__wrapper {
      display: flex;
      justify-content: flex-end;
   }

   &__form-container {
      overflow: hidden;
      width: 0%;
      opacity: 0;
      transition: width 0.3s ease-in-out, opacity 0.15s ease-in-out;
   }

   &__toggle {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 40px;
      flex: 0 0 40px;

      svg {
         path {
            fill: $white;
            transition: fill 0.15s ease-in-out;
         }
      }

      &:hover {
         svg {
            path {
               fill: $primary;
            }
         }
      }
   }

   &__close {
      display: none;
   }

   &.active {
      width: 100%;

      .search {
         &__form-container {
            width: 100%;
            opacity: 1;
         }

         &__open {
            display: none;
         }

         &__close {
            display: block;
         }
      }
   }
}

.search-form {
   position: relative;
   display: flex;

   &__input {
      padding: 7px 12px 7px 38px;
      background-image: url("@img/search-icon.svg");
      background-repeat: no-repeat;
      background-position: left 12px center;
      background-size: 16px auto;
      border-color: $white;
   }

   &__input-raw {
      border-color: $dark;
   }

   &__btn {
      flex-shrink: 0;
      flex-grow: 0;
      line-height: 1;
      padding: 7px 14px;
      margin-left: -1px;
   }
}

.header-logo {
   height: 64px;
}

.social-link {
   display: inline-block;
   width: 26px;
   height: 26px;
   background-color: $dark;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 14px;
   transition: background-color 0.15s ease-in-out;

   &__telegram {
      background-image: url("@img/telegram-icon.svg");
      background-position: 5px center;

      &:hover {
         background-color: #229ed9;
      }
   }

   &__whatsapp {
      background-image: url("@img/whatsapp-icon.svg");

      &:hover {
         background-color: #25d366;
      }
   }

   &__youtube {
      background-image: url("@img/youtube-icon.svg");

      &:hover {
         background-color: #ff0000;
      }
   }

   &__vk {
      background-image: url("@img/vk-icon.svg");

      &:hover {
         background-color: #0077ff;
      }
   }
}

.main-slider-decor-1 {
   left: -3rem;
   bottom: 0;
   height: 350px;
   width: 150px;
   background-color: $primary;
}

.main-slider-decor-2 {
   right: -10rem;
   top: 0;
   height: 300px;
   width: 100px;
   background-color: $primary;
}

.swiper-button-next,
.swiper-button-prev {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   background-color: $dark;
   transition: background-color 0.15s ease-in-out;

   svg {
      height: 18px;

      path {
         transition: fill 0.15s ease-in-out;
         fill: $white;
      }
   }

   &:hover {
      cursor: pointer;
      background-color: $primary;
   }
}

.swiper {
   &-pagination-bullet {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: $gray-300;
      margin-right: 8px;

      &-active {
         background-color: $primary;
      }

      &:hover {
         cursor: pointer;
      }
   }
}

.swiper-button-disabled {
   opacity: 0 !important;
}

.main-slider {
   .swiper-slide {
      height: auto;
   }
}

.main-slide {
   position: relative;
   min-height: 600px;

   &__img {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;
      width: 70%;
   }

   &__caption {
      position: relative;
      z-index: 2;
      width: 600px;
   }

   &__body {
      position: relative;
      z-index: 2;
   }

   &__frame {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 10px solid $primary;
   }
}

.feature {
   &__img {
      z-index: 1;
      transition: all 0.15s ease-in-out !important;
   }

   &__caption {
      z-index: 2;
   }

   &__decor {
      z-index: 3;
      width: 1rem;
      height: 4rem;
      top: 2rem;
      right: -0.5rem;
      transition: transform 0.15s ease-in-out;
   }

   &__title {
      color: $white;
      transition: color 0.15s ease-in-out;
   }

   .stretched-link {
      &::after {
         z-index: 4;
      }
   }

   &:hover {
      .feature {
         &__img {
            transform: scale(1.05);
         }

         &__decor {
            transform: translateY(1rem);
         }

         &__title {
            color: $primary;
         }
      }
   }
}

.section-catalogue {
   &__side-img {
      z-index: 1;
      right: 0;
      top: 0;
      bottom: 0;
   }

   &__header {
      z-index: 2;
      margin-left: -6.5rem;
   }

   &__header-decor {
      top: -1rem;
      left: 2rem;
      height: 2rem;
      width: 10rem;
   }
}

.catalogue-card {
   &__img {
      transition: transform 0.15s ease-in-out;
   }

   &__title {
      transition: color 0.15s ease-in-out;
   }

   &__decor {
      top: -0.5rem;
      right: 1rem;
      height: 1rem;
      width: 4rem;
      transition: transform 0.15s ease-in-out;
   }

   &:hover {
      .catalogue-card {
         &__img {
            transform: scale(1.05);
         }

         &__decor {
            transform: translateX(-1rem);
         }

         &__title {
            color: $primary;
         }
      }
   }
}

.bg-dark {
   .catalogue-card {
      &__title {
         color: $white;
      }
   }

   .portfolio-card {
      &__title {
         color: $white;
      }
   }

   .swiper-button-next,
   .swiper-button-prev {
      background-color: $gray-200;

      svg {
         path {
            fill: $dark;
         }
      }

      &:hover {

         background-color: $primary;

         svg {
            path {
               fill: $white;
            }
         }
      }
   }

   .swiper {
      &-pagination-bullet {
         background-color: $gray-700;

         &-active {
            background-color: $primary;
         }
      }
   }
}

.bg-gray-dark {
   .news-card {
      &__title {
         color: $white;
      }
   }
}

.frame {
   border: solid 0.5rem $primary;
}

.stats {
   &_product {
      >div {
         border-left: 1px solid $primary;
      }
   }
}

.partner-logo {
   max-width: 100%;
   max-height: 64px;
   filter: grayscale(1);
   opacity: 0.5;
}

.about {
   &__decor-1 {
      right: -10rem;
      top: -7rem;
      height: 300px;
      width: 100px;
   }

   &__decor-2 {
      top: unset;
      left: 2rem;
      bottom: -1rem;
      height: 2rem;
      width: 10rem;
   }
}

.portfolio-card {
   &__img {
      z-index: 1;
      transition: transform 0.15s ease-in-out;
   }

   &__title {
      transition: color 0.15s ease-in-out;
   }

   &__decor {
      z-index: 2;
      top: 2rem;
      left: -0.5rem;
      height: 4rem;
      width: 1rem;
      transition: transform 0.15s ease-in-out;
   }

   &:hover {
      .portfolio-card {
         &__img {
            transform: scale(1.05);
         }

         &__decor {
            transform: translateY(1rem);
         }

         &__title {
            color: $primary;
         }
      }
   }
}

.news {
   &__decor {
      right: -10rem;
      top: -7rem;
      height: 300px;
      width: 100px;
   }
}

.news-card {
   &__img-container {
      width: 180px;
      max-width: 180px;
      flex: 0 0 180px;
   }

   &__img {
      z-index: 1;
      transition: transform 0.15s ease-in-out;
   }

   &__title {
      transition: color 0.15s ease-in-out;
   }

   &__decor {
      height: 0.5rem;
      width: 4rem;
      transition: width 0.15s ease-in-out;
   }

   &:hover {
      .news-card {
         &__img {
            transform: scale(1.05);
         }

         &__decor {
            width: 6rem;
         }

         &__title {
            color: $primary;
         }
      }
   }
}

.map-section {
   &__wrapper {
      width: 100%;
      top: 0;
      bottom: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;
   }
}

.map {
   height: 600px;
   z-index: 1;
}

.contacts-island {
   pointer-events: all;

   &__decor {
      top: -1rem;
      right: 2rem;
      width: 10rem;
      height: 2rem;
   }
}

.doc-item {
   &__caption {
      svg {
         path {
            transition: fill .15s ease-in-out;
         }
      }

      &:hover {
         svg {
            path {
               fill: $primary;
            }
         }
      }
   }

   &__download {
      svg {
         path {
            transition: fill .15s ease-in-out;
         }
      }

      &:hover {
         svg {
            path {
               fill: $primary;
            }
         }
      }
   }
}

.vacancy-card {
   box-shadow: 0 0 0 1px $dark;
   transition: box-shadow .15s ease-in-out;

   svg {
      path {
         transition: fill .15s ease-in-out;
      }
   }

   &:hover {
      box-shadow: 0 0 0 4px $primary;

      svg {
         path {
            fill: $primary;
         }
      }
   }
}

.accordion-button:not(.collapsed) {
   box-shadow: none !important;
}

.ask-form {
   &__decor-1 {
      top: -1rem;
      left: 2rem;
      height: 2rem;
      width: 8rem;
   }
}

.footer-nav {
   column-count: 3;
   column-gap: 32px;
}

.dashed-header {
   position: relative;
   padding-left: 1rem;

   &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1rem;
      background-color: $primary;
   }
}

.news-item-img {
   height: 400px;
}

.dealers-map {
   height: 600px;
   width: 100%;
}

.map-card {
   font-family: "Golos";

   &__icon {
      width: 12px;
      line-height: 1.4;
   }
}

.nav-tabs {
   border: none;
   margin: 0 -1rem;

   .nav-item {
      padding: 0 1rem;

      .nav-link {
         padding: .5rem 0 .75rem;
         border: none;
         color: $dark;
         font-weight: 500;
         position: relative;

         &:hover {
            color: $primary;
         }

         &.active {
            &:before {
               content: '';
               position: absolute;
               bottom: -.25rem;
               left: 0;
               right: 0;
               height: .5rem;
               width: 100%;
               background-color: $primary;
            }
         }
      }
   }
}

.profile-edit-link {
   background-color: $primary;
   padding: 0 .75rem;
   line-height: 0;
   transition: background-color .15s ease-in-out;

   svg {
      height: 16px;

      path {
         fill: $white;
      }
   }

   &:hover {
      background-color: darken($primary, 10%);
   }
}

.profile-logout-link {
   background-color: lighten($primary, 5%);
   padding: 0 .75rem;
   line-height: 0;
   transition: background-color .15s ease-in-out;

   svg {
      height: 16px;

      path {
         fill: $white;
      }
   }

   &:hover {
      background-color: darken($primary, 10%);
   }
}

.bim-item {
   &__img-container {
      &:after {
         content: '';
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         background-color: #222;
         opacity: 0.08;
         z-index: 2;
      }
   }

   &__img {
      top: 2rem;
      right: 2rem;
      bottom: 2rem;
      left: 2rem;
      width: auto;
      height: auto;
      z-index: 1;
      transition: transform 0.15s ease-in-out;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
   }

   .stretched-link {
      &::after {
         z-index: 3;
      }
   }

   &:hover {
      .bim-item {
         &__img {
            transform: scale(1.05);
         }
      }
   }
}

.product-photo {
   &__img-container {
      &:after {
         content: '';
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         background-color: #222;
         opacity: 0.08;
         z-index: 2;
      }
   }

   &__img {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: transform 0.15s ease-in-out;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
   }

   .stretched-link {
      &::after {
         z-index: 3;
      }
   }

   &:hover {
      .product-photo {
         &__img {
            transform: scale(1.05);
         }
      }
   }
}

.pagination {
   margin: 0 -4px;

   .page-item {
      margin: 0 3px;
   }

}

.product-text {
   padding-top: 12px;
}

.product-feature {
   position: relative;
   padding-left: 28px;

   &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      width: 16px;
      height: 16px;
      border: 2px solid $primary;
   }
}

.bb {
   border-bottom: 1px solid #f2f2f2;

   &:last-of-type {
      border: none;
   }
}

.product-features-decor {
   right: -10rem;
   top: -7rem;
   height: 300px;
   width: 100px;
   background-color: $primary;
}

.scheme-img {
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   width: 80px;
   height: 80px;
}

.login-img {
   height: 128px;
}

.search-link {
   font-size: 1.125rem;
}

.anim {
   animation-play-state: paused !important;

   &.play {
      animation-play-state: running !important;
   }
}

.anim-1-1 {
   animation: 0.3s ease-in-out 0s 1 normal forwards SlideUp;
}

.anim-1-2 {
   animation: 0.3s ease-in-out 0s 1 normal forwards SlideDown;
}

.anim-1-3 {
   animation: 0.3s ease-in-out 0s 1 normal forwards FadeIn;
}

.anim-1-4 {
   animation: 0.3s ease-in-out 0.3s 1 normal backwards SlideRight;
}

.anim-1-5 {
   animation: 0.3s ease-in-out 0.6s 1 normal backwards SlideLeft;
}

.anim-1-6 {
   animation: 0.15s ease-in-out 0.75s 1 normal backwards SlideUp;
}

.anim-1-7 {
   animation: 0.15s ease-in-out 0.9s 1 normal backwards SlideUp;
}

.anim-1-8 {
   animation: 0.15s ease-in-out 1.05s 1 normal backwards SlideUp;
}

.anim-1-9 {
   animation: 0.3s ease-in-out 1.35s 1 normal backwards MainSliderFrame;
}


.anim-2-1 {
   animation: 0.3s ease-in-out 0s 1 normal forwards SlideRight;
}

.anim-2-2 {
   animation: 0.3s ease-in-out 0.3s 1 normal backwards SlideUp;
}

.anim-2-3 {
   animation: 0.3s ease-in-out 0.6s 1 normal backwards SlideDown;
}


.anim-3-1 {
   animation: 0.3s ease-in-out 0s 1 normal forwards SlideRight;
}

.anim-3-2 {
   animation: 0.3s ease-in-out 0.3s 1 normal backwards SlideLeft;
}

.anim-3-3 {
   animation: 0.15s ease-in-out 0.45s 1 normal backwards SlideUp;
}

.anim-3-4 {
   animation: 0.15s ease-in-out 0.6s 1 normal backwards SlideUp;
}

.anim-3-5 {
   animation: 0.3s ease-in-out 0.9s 1 normal backwards SlideRight;
}

.anim-3-6 {
   animation: 0.3s ease-in-out 1.2s 1 normal backwards SlideLeft;
}

.anim-3-7 {
   animation: 0.3s ease-in-out 1.5s 1 normal backwards FadeIn;
}


.anim-4-1 {
   animation: 0.3s ease-in-out 0s 1 normal forwards SlideRight;
}

.anim-4-2 {
   animation: 0.3s ease-in-out 0.3s 1 normal backwards SlideUp;
}


.anim-5-1 {
   animation: 0.3s ease-in-out 0s 1 normal forwards SlideDown;
}

.anim-5-2 {
   animation: 0.3s ease-in-out 0.3s 1 normal backwards SlideUp;
}


.anim-6-1 {
   animation: 0.3s ease-in-out 0s 1 normal forwards SlideDown;
}

.anim-6-2 {
   animation: 0.3s ease-in-out 0.3s 1 normal backwards SlideRight;
}

.anim-6-3 {
   animation: 0.3s ease-in-out 0.6s 1 normal backwards SlideLeft;
}

.anim-6-4 {
   animation: 0.15s ease-in-out 0.75s 1 normal backwards SlideRight;
}


.anim-7-1 {
   animation: 0.3s ease-in-out 0s 1 normal forwards SlideDown;
}

.anim-7-2 {
   animation: 0.15s ease-in-out 0.15s 1 normal backwards SlideUp;
}

.anim-7-3 {
   animation: 0.15s ease-in-out 0.3s 1 normal backwards SlideUp;
}

.anim-7-4 {
   animation: 0.3s ease-in-out 0.6s 1 normal backwards SlideLeft;
}

.anim-7-5 {
   animation: 0.3s ease-in-out 0.9s 1 normal backwards SlideRight;
}

.anim-7-6 {
   animation: 0.3s ease-in-out 1.2s 1 normal backwards SlideUp;
}


.anim-8-1 {
   animation: 0.3s ease-in-out 0s 1 normal forwards SlideUp;
}

.anim-8-2 {
   animation: 0.3s ease-in-out 0.3s 1 normal backwards SlideRight;
}

.anim-8-3 {
   animation: 0.3s ease-in-out 0.6s 1 normal backwards SlideLeft;
}

.anim-8-4 {
   animation: 0.3s ease-in-out 0.9s 1 normal backwards SlideRight;
}

.anim-8-5 {
   animation: 0.15s ease-in-out 1.05s 1 normal backwards SlideUp;
}

.anim-8-6 {
   animation: 0.15s ease-in-out 1.2s 1 normal backwards SlideUp;
}

.anim-8-7 {
   animation: 0.3s ease-in-out 1.5s 1 normal backwards SlideRight;
}


.anim-9-1 {
   animation: 0.3s ease-in-out 0s 1 normal forwards SlideUp;
}

.anim-9-2 {
   animation: 0.3s ease-in-out 0.3s 1 normal backwards SlideLeft;
}

.slide-up {
   animation: 0.3s ease-in-out 0s 1 normal forwards SlideUp;
}

.slide-down {
   animation: 0.3s ease-in-out 0s 1 normal forwards SlideDown;
}

.slide-left {
   animation: 0.3s ease-in-out 0s 1 normal forwards SlideLeft;
}

.slide-right {
   animation: 0.3s ease-in-out 0s 1 normal forwards SlideRight;
}

@keyframes MainSliderFrame {
   0% {
      transform: scale(.75);
      opacity: 0;
   }

   100% {
      transform: scale(1);
      opacity: 1;
   }
}

@keyframes SlideUp {
   0% {
      transform: translateY(2rem);
      opacity: 0;
   }

   100% {
      transform: translateY(0rem);
      opacity: 1;
   }
}

@keyframes SlideDown {
   0% {
      transform: translateY(-2rem);
      opacity: 0;
   }

   100% {
      transform: translateY(0rem);
      opacity: 1;
   }
}

@keyframes SlideRight {
   0% {
      transform: translateX(-2rem);
      opacity: 0;
   }

   100% {
      transform: translateX(0rem);
      opacity: 1;
   }
}

@keyframes SlideLeft {
   0% {
      transform: translateX(2rem);
      opacity: 0;
   }

   100% {
      transform: translateX(0rem);
      opacity: 1;
   }
}

@keyframes FadeIn {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@include media-breakpoint-down(xl) {
   .section-catalogue {
      &__header {
         margin-left: 0;
      }
   }

   .login-img {
      height: auto;
      width: 100%;
   }
}

@include media-breakpoint-up(lg) {
   .offcanvas-start {
      border: 1px solid $dark;
   }
}

@include media-breakpoint-down(lg) {
   .main-slide {
      min-height: auto;

      &__img {
         position: relative;
         width: 100%;
         height: auto;
         padding-top: 56.25%;
      }

      &__caption {
         width: 100%;
         margin: -5rem auto 0 auto;
      }

      &__frame {
         top: 1rem;
         right: 1rem;
         bottom: 1rem;
         left: 1rem;
         border: 8px solid $primary;
      }
   }

   .map-section {
      &__wrapper {
         position: relative;
      }
   }
}

@include media-breakpoint-down(md) {
   .scroll-to-top {
      display: none !important;
   }

   .catalogue-slider,
   .product-slider {
      overflow: visible;
   }

   .partner-logo {
      width: 100%;
      max-width: 150px;
      max-height: 64px;
   }

   .footer-nav {
      column-count: 2;
   }
}

@include media-breakpoint-up(md) {
   .main-slide {
      &__text {
         font-size: 1.125rem;
      }
   }
}

@include media-breakpoint-down(sm) {
   .article {
      @include font-size(1rem);
   }

   .offcanvas,
   .offcanvas-start {
      width: 100% !important;
   }

   .header-logo {
      width: 200px;
   }

   .news-card {
      &__img-container {
         width: 100%;
         max-width: 100%;
      }
   }

   .footer-nav {
      column-count: 1;
   }
}